<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset=utf-8 />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/jquery-ui-1.10.2.custom.js"></script>
    <script src="/javascripts/jquery.cookie.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="/javascripts/games/pedrapapertisores/pedrapapertisores.js"></script>-->
    <script src="/javascripts/application.js"></script>


  </head>
  <body>
    <div id="header">

      <div id="logo">
        <a href="/">
          <h1 id="title">GAMERFELL</h1>
        </a>
      </div>
        <div class="btn-group">
            <a id='botoPeticions' class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Peticions de jugar(8)
                <span class="caret"></span>
            </a>
            <ul id='llistaPeticions' class="dropdown-menu">
                <li><a href="#">Joan: TIC-TAC-TOE</a></li>
                <li><a href="#">Something else here</a></li>
            </ul>
        </div>
      <div id="user-panel">
        <div id="login">
          <form id="loginHere">
            <div class="field">
              <label>Usuari:</label>
              <input type="text" id="username" name="user"/>
            </div>
            <div class="field">
              <label>Contrasenya:</label>
              <input type="password" id="password" name="password"/>
            </div>
            <div class="submit">
              <a id="botoLogin" class="btn">Login</a>
              <a id="botoSignup" class="btn" href="/signup">Signup</a>
            </div>
          </form>
        </div>
      </div>

    </div>

    <div id="appBody">
      <div id ="gamesPanel">
        <div id="gamesTitle" class="title">
          <div class="panel">Jocs</div>
        </div>
        <div id="gamesList" class="content"></div>
      </div>
      <div id ="friendsPanel">
        <div id="friendsTitle" class="title">
          <div class="panel">Amics</div>
        </div>
        <div id="friendsList" class="content"></div>
      </div>
      <div id ="boardPanel">
        <div id="boardTitle" class="title">
          <div class="panel">Jugant a:TIC-TAC-TOE</div>
        </div>
        <div id="boardContent" class="content">
        </div>
      </div>
      </div>

    <div id="footer">
      <div id="content">
          <button id="botoProva1" class="btn">Prova1</button>
          <button id="botoProva2" class="btn">Prova2</button>
        <span style="position: relative; top: 10px;">
          Marc Reniu i Xavier Sendra Copyright 2013 &copy; ADA All rights reserved.
        </span>
      </div>
    </div>

  </body>
</html>

