div .gameHeader
{
    height: 10%;
    width: 95%;
    margin: 0 auto;
    /*background: red;*/
    text-align: center;
    font-size: 18px;
}
div .gameContent
{
    postion: relative;
    height: 90%;
    width: 95%;
    /*background: blue;*/
    margin: 0 auto;
}
div.gameContent .pptPeces
{
    height:20%;
    background: green;
    padding: 10px 10px 10px;
    border-radius: 10px;
    text-align: center;
}
div.gameContent #pptPecesJo
{
    margin-bottom: 10px;
}
div .pptDesti
{
    position:relative;
    height:100px;
    /*width:95%;*/
    width: 100px;
    /*background: purple;*/
    margin: 10px auto;
    padding: 5px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: #AAA;
}
div #appContent
{
    position:relative;
}
#pptPecesJo img
{
    height: 100px;
    width: 100px;
    border: 1px solid;
}
#pptPecesEnemic img
{
    height: 80px;
    width: 80px;
    border: 1px solid;
}
#pptDestiJo.hoverDrop
{
    background: #777!important;
}

#pptDestiJo img
{
    margin: 0 auto;
    height: 100px;
    width: 100px;
}
#pptDestiEnemic img
{
    margin: 0 auto;
    height: 100px;
    width: 100px;
}
#resultatPPT
{
    position: fixed;
    top: 30%;
    left: 12%;
    z-index: 1000;
    display: none;
}
#resultatPPT img {
    width: 400px;
    height: 323px;
}
#resultatPPT #botoResultatPPT
{
    position: absolute;
    top: 40%;
    left: 15%;
    z-index: 1001;
    background-color: #777;
    padding: 30px;
    border-radius: 10px;
    display: none;
}